<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="parqueo">
    <head>
        <title>EasyParking</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">        
    </head>
   ,. <body class="bg-light">
        <header>
        </header>
        <main class="row m-3" ng-controller="filasCuentas">
            <article class="col-sm"> <!--Angularjs-->
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Id cliente</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="id"/>
                        <br/>
                        <button type="button" class="btn btn-danger" ng-click="consultar()">Consulta aquí</button>
                    </div>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre}}" ng-model="nombre"/>
                        <label for="documento" class="form-label">Documento</label>
                        <input type="text" class="form-control" id="documento"  value="{{documento}}" ng-model="documento"/>
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="text"  class="form-control" id="telefono"  value="{{telefono}}" ng-model="telefono"/>
                        <label for="nplaca" class="form-label">Nplaca</label>
                        <input type="text"  class="form-control" id="nplaca"  value="{{nplaca}}" ng-model="nplaca"/>
                        <br/> <!--salto de línea-->
                        <button type="button" class="btn btn-warning" ng-click="actualizar()">Actualizar</button>
                        <button type="button" class="btn btn-warning" ng-click="guardarEstudiante()">Guardar</button>
                    </div>
                </section>
            </article>
            <article class="col-sm">
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Docu</th>
                                <th scope="col">Tel</th>
                                <th scope="col">Placa</th>
                                <!--<th scope="col">Acciones</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fila in filas">
                                <td>{{fila.id}}</td>
                                <td>{{fila.Nombre}}</td>
                                <td>{{fila.Docu}}</td>
                                <td>{{fila.Tel}}</td>
                                <td>{{fila.Placa}}</td>
                                <!--<td>
                                    <button type="button" class="btn btn-success">Editar</button>
                                    <button type="button" class="btn btn-danger">Remover</button>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </section>
            
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Eliminar cuenta</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="idcuenta"/>
                        <br/>
                        <button type="button" class="btn btn-warning" ng-click="borrar()">Eliminar</button>
                    </div>
            <!--<td>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre}}" ng-model="nombre"/>
                        <label for="edad" class="form-label">Edad</label>
                        <input type="text" class="form-control" id="edad"  value="{{edad}}" ng-model="edad"/>
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text"  class="form-control" id="correo"  value="{{correo}}" ng-model="correo"/>
                        <br/> <!--salto de línea-- cerrar comentario
                        <button type="button" class="btn btn-warning" ng-click="guardarEstudiante()">Guardar</button>
                    </div>
                </section>
            </td>-->
            </article>
        </main>
        <footer>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <!--<script src="js/angular-bootstrap.js" type="text/javascript"></script>-->
        <script src="js/funcionalidad.js"></script>
    </body>
</html>
